:root {
  --primary-color: #7FB5DE ;
  --secondary-color: #98E8C1;
  --tertiary-color: #078D70;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
      color: var(--primary-color);
      background-color: #F1EFFF;
      font-family: Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
  }

  header nav {
    
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

  section {
    padding: 60px;
  }

  .hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero h4 {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
  }

.flex-column {
  display: flex;
  justify-content:space-between;
  
}

.about-title h2 {
padding: 10px 15px;
display: flex;
justify-content: flex-start;
border-right: 3px solid;
border-color: cornflowerblue;
max-width: fit-content;
color: var(--primary-color);

}

.work-title h2 {
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  border-right: 3px solid;
  border-color: cornflowerblue;
  max-width: fit-content;
  }
  
  .work-title ul li a {
    padding: 10px 50px;
  }

.contact-title h2 {
padding: 10px 15px;
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
border-right: 3px solid;
border-color: cornflowerblue;
max-width: fit-content;
}

.contact-title ul {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

.contact-title ul li a {
  padding: 10px 50px;
  border-bottom: 3px solid;
  border-color: cornflowerblue;
}
  
.work-title ul {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.work-title li:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}